
html {
  scroll-behavior: smooth;
  /* Hide scrollbar while keeping scroll functionality */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Orbitron', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Orbitron', sans-serif;
}

p {
  font-family: 'Orbitron', sans-serif;
}
